# Ignore l'environnement virtuel
myenv/
# Ignore les fichiers de configuration de l'éditeur de texte
.vscode/
.idea/

# Ignore les fichiers de log
*.log

# Ignore les fichiers de cache Python
__pycache__/
*.pyc
